/** Top level modal element */
.risk-modal {
    /* --height: 90vh; */
}
/* ########## */
/* # Header # */
/* ########## */
/** Grey toolbar at top of modal */
.modal-toolbar {
    --background: #D1D1D1;
    --min-height: 20px;
    color: var(--logoGrey);
}
.center-content {
    display: flex;
    justify-content: center;
}
/** Modal title */
.modal-toolbar ion-title {
    padding-left: 10px;
    font-size: 2.2rem;
    font-weight: bold;
}
/** Close button  */
.modal-toolbar ion-button {
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
}
.modal-toolbar ion-icon {
    color: var(--logoGrey);
}

/* ########### */
/* # Content # */
/* ########### */
/** Modal content  */
.risk-modal ion-content {
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
}
/* .risk-modal ion-content > div > div {
    box-shadow: 0 0 5px greenyellow;
} */
/** Consequence/likelihood question */
.risk-question {
    font-size: 1.5rem;
}
.selection-ui-container {
    padding: 10px 0 10px 0;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
/** Slider container */
.slider-container {
    height: 100%;
    aspect-ratio: 1 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 10px;
    overflow: hidden;
}
/* ? Slider styles moved to separate file for readability */
/** Ratings container */
.ratings-container {
    height: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/** Rating button  */
.ratings-container > div {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 3px 5px rgba(150, 150, 150, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
}
.ratings-container > div:hover {
    filter: brightness(1.2);
}
.ratings-container > div:active {
    box-shadow: 0px 0px 0px rgba(150, 150, 150, 0.5);
    transform: translate(1px, 1px) scale(0.99);
}
.ratings-container > div:nth-child(1) { background-color: rgba(254,0,0,1);}
.ratings-container > div:nth-child(2)  { background-color: rgba(254,128,24,1);}
.ratings-container > div:nth-child(3) { background-color: rgba(254,255,48,1);}
.ratings-container > div:nth-child(4) { background-color: rgba(127,231,25,1);}
.ratings-container > div:nth-child(5) { background-color: rgba(0,206,1,1);}
/** Text inside rating buttons */
.ratings-container > div > span {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
/* ########## */
/* # Footer # */
/* ########## */
/** Modal footer */
.footer-toolbar {
    --background: #D1D1D1;
    --min-height: 20px;
    color: var(--logoGrey);
}
.footer-buttons ion-button {
    margin: 5px;
    --background: var(--logoGrey);
    color: white;
    border-radius: 5px;
}